$animation-duration: 500ms;
$animation-duration-out: 500ms;
body {
    transition: background-image $animation-duration linear,
                background-color $animation-duration linear;
}
.header {
    transition: background-image $animation-duration linear,
                border-bottom $animation-duration linear;
}
.logo {
    transition: width $animation-duration ease-out;
}
.in {
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: $animation-duration;
    animation-timing-function: ease-out;
    animation-duration: $animation-duration;
}
.out {
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: $animation-duration-out;
    animation-timing-function: ease-in;
    animation-duration: $animation-duration-out;
}
/* slide */
.slide.in {
    animation-name: slideinfrombottom;
}
.slide.out {
    animation-name: slideouttotop;
}
.slide.in.reverse {
    animation-name: slideinfromtop;
}
.slide.out.reverse {
    animation-name: slideouttobottom;
}
@keyframes slideinfrombottom {
    from { transform: translateY(100%); }
    to { transform: translateY(0); }
}
@keyframes slideouttotop {
    from { transform: translateY(0); }
    to { transform: translateY(-100%); }
}
@keyframes slideinfromtop {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
}
@keyframes slideouttobottom {
    from { transform: translateY(0); }
    to { transform: translateY(100%); }
}

/* fade */
.fade.in {
    animation-name: fadein;
}
.fade.out {
    animation-name: fadeout;
}
.fade.in.reverse {
    animation-name: fadein-reverse;
}
.fade.out.reverse {
    animation-name: fadeout-reverse;
}
@keyframes fadein {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to { 
        opacity: 1; 
        transform: translateX(0);
    }
}
@keyframes fadeout {
    0% { 
        opacity: 1; 
        transform: translateX(0);
    }
    80% {
        opacity: 0;
        transform: translateX(30px);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}
@keyframes fadein-reverse {
    from {
        opacity: 0;
        transform: translateX(30px);
    }
    to { 
        opacity: 1; 
        transform: translateX(0);
    }
}
@keyframes fadeout-reverse {
    0% { 
        opacity: 1; 
        transform: translateX(0);
    }
    80% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}