.page1 {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    .side-left,
    .center,
    .side-right {
        float: left;
        width: 30%;
        height: 100%;
        text-align: center;
    }
    .center {
        width: 45%;
        .card-mileage {
            padding-top: 0;
            height: 40%;
            transform: translateY(20%);
        }
    }
    .side-right {
        width: 25%;
    }
    .card-wrapper {
        height: 33.333333%;
        padding-top: 2rem;
        text-align: center;
        color: #00dcfb;
        font-size: 0.7rem;
        .card-title {
            margin-top: -2rem;
            &.text-underline {
                background: url(../assets/images/text_underline.png) no-repeat center bottom;
                padding-bottom: 8px;
                font-size: 0.9rem;
            }
        }
    }
    .chart {
        height: 100%;
    }
    /*车辆统计*/
    .side-left {
        .card-wrapper {
            height: 38%;
        }
        .card-carnum{
            height: 24%;
        }
        .chart {
            padding: 1rem 0;
        }
    }
    .card-carnum {
        font-size: 0.6rem;
        line-height: 1.5;
        .card-title {
            margin-top: 0;
            color: #f6fbfc;
        }
    }
    .card {
        position: relative;
        display: inline-block;
        width: 33.333333%
    }
    .card:after {
        content: '';
        position: absolute;
        width: 0;
        height: 2.4rem;
        border-left: 1px solid #231f28;
        right: 0;
        top: 0.8rem;
    }
    .card:last-child:after {
        display: none;
    }
    .card-num {
        font-family: Roboto;
        font-weight: bold;
        font-size: 1.6rem;
        background: linear-gradient(to bottom, #00ffe7, #09e7ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #00ffe7;
    }
    .card-color1 .card-num {
        background: linear-gradient(to bottom, #00ffe7, #09e7ff);
        -webkit-background-clip: text;
        color: #00ffe7;
    }
    .card-color2 .card-num {
        background: linear-gradient(to bottom, #2af8ff, #53c4ff);
        -webkit-background-clip: text;
        color: #2af8ff;
    }
    .card-color3 .card-num {
        background: linear-gradient(to bottom, #04ff6f, #00ddaa);
        -webkit-background-clip: text;
        color: #04ff6f;
    }
    /*地图*/
    .chart-desktopmap-wrapper{
        height: 60%;
    }
    /*活跃率、车型*/
    .card-num-wrapper {
        width: 40%;
        height: 100%;
        float: left;
    }
    .card-chart-wrapper {
        width: 60%;
        height: 100%;
        float: left;
        padding-top: 1rem;
        .card-child-title {
            text-align: center;
            color: #fff;
            font-size: 0.6rem;
            margin-top: -0.5rem;
        }
    }
    .card-circle-wrapper {
        display: inline-block;
        position: relative;
        width: 5rem;
        height: 5rem;
        margin-top: 50%;
        transform: translateY(-25.5%);
        background: url(../assets/images/image_round.png) no-repeat center;
        background-size: contain;
        font-size: 12px;
        color: #3decfe;
        line-height: 4.5rem;
    }
    .card-circle-wrapper.card-circle-up:after {
        content: '';
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 100%;
        height: 0.8rem;
        background: url(../assets/images/icon_clzx_ss.png) no-repeat center;
        background-size: contain;
    }
    .card-online .car-circle-content {
        height: 100%;
        background: url(../assets/images/icon_clzx_hy.png) no-repeat center;
        background-size: 60%;
    }
    .card-cartype .car-circle-content {
        height: 100%;
        background: url(../assets/images/icon_clzx_cx.png) no-repeat center;
        background-size: 60%;
    }
    .card-circle-wrapper .card-num {
        background: linear-gradient(to bottom, #72ffbe, #3decfe);
        -webkit-background-clip: text;
        color: #72ffbe;
        font-size: 2.5rem;
    }
    .card-cartype .card-circle-wrapper {
        line-height: 5rem;
    }
    /*里程*/
    .card-mileage .card:after {
        top: 3rem;
        height: 3rem;
        border-color: #104f5f;
    }
    .card-mileage .card {
        background: url(../assets/images/icon_ljrdq.png) no-repeat center top;
        padding-top: 4rem;
        background-size: 5rem;
    }
    .card-mileage .card-color1 {
        background-image: url(../assets/images/icon_ljrdq.png);
    }
    .card-mileage .card-color2 {
        background-image: url(../assets/images/icon_zyh.png);
    }
    .card-mileage .card-color3 {
        background-image: url(../assets/images/icon_zyxsj.png);
    }
    .mileage-num {
        font-family: QrLedNum;
        font-size: 2.3rem;
        color: #fff;
        vertical-align: middle;
        margin: 0 10px;
    }
    .mileage-num i {
        border: 1px solid #00232a;
        margin-left: -1px;
        padding: 0 5px;
    }
    /*在线省份统计*/
    .province-chart {
        font-size: 0.6rem;
        line-height: 1;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .process-row {
        margin-top: 0.3rem;
    }
    .process-row-name {
        display: inline-block;
        width: 60px;
        text-align: right;
    }
    .process-row-value {
        display: inline-block;
        width: 100px;
        text-align: left;
    }
    .process-wrapper {
        display: inline-block;
        height: 6px;
        width: 9rem;
        margin-left: 10px;
        margin-right: 5px;
        border-radius: 3px;
        position: relative;
        background-color: rgba(255,255,255,0.2);
    }
    .process {
        position: absolute;
        width: 50%;
        height: 100%;
        left: 0;
        border-radius: 3px;
        background: linear-gradient(to right,#00c0d9, #00f5ef);
    }
    .province-chart .hightlight-text {
        color: #00dcfb;
    }
    .scroll::-webkit-scrollbar-track {
        // box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        // border-radius: 10px;
        background-color: #000b15;
    }

    .scroll::-webkit-scrollbar {
        width: 6px;
        background-color: #000b15;
    }

    .scroll::-webkit-scrollbar-thumb {
        // border-radius: 10px;
        // box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        width: 4px;
        background-color: #00212d;
    }
}