.page3 {
    .main {
        height: 66%;
        .left {
            width: 37%;
        }
        .center {
            position: relative;
            width: 26%;
        }
        .right {
            width: 37%;
        }
        .left, .right {
            .chart-wrapper {
                height: 50%;
            }
        }
        .left, .center, .right {
            float: left;
            height: 100%;
        }
    }
    .footer {
        height: 34%;
    }
    .carnum {
        position: absolute;
        width: 165px;
        height: 65px;
        right: 30px;
        top: 30px;
        border: 1px solid #327acc;
        border-radius: 5px;
        background: #08142a url(../assets/images/car.png) no-repeat 15px center;
        font-size: 14px;
        text-indent: 70px;
        .text {
            margin-top: 8px;
            margin-bottom: 4px;
        }
        .num {
            font-size: 16px;
            color: #3c93f5;
        }
    }
}