@font-face {
    font-family: "LedNum";
    src: url('../../fonts/wwDigital.eot');
    src: url('../../fonts/wwDigital.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/wwDigital.woff') format('woff'),
        url('../../fonts/wwDigital.ttf')  format('truetype'),
        url('../../fonts/wwDigital.svg#LedNum') format('svg');
}
@font-face {
    font-family: "QrLedNum";
    src: url('../../fonts/quartz_regular-webfont.eot');
    src: url('../../fonts/quartz_regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/quartz_regular-webfont.woff') format('woff'),
        url('../../fonts/quartz_regular-webfont.ttf')  format('truetype'),
        url('../../fonts/quartz_regular-webfont.svg#QrLedNum') format('svg');
}
@font-face {
    font-family: "Roboto";
    src: url('../../fonts/roboto-regular-webfont.eot');
    src: url('../../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/roboto-regular-webfont.woff') format('woff'),
        url('../../fonts/roboto-regular-webfont.ttf')  format('truetype'),
        url('../../fonts/roboto-regular-webfont.svg#Roboto') format('svg');
}
@font-face {
    font-family: "汉真广标";
    src: url('../../fonts/汉真广标艺术字体_0.ttf')  format('truetype');
}
html {
    font-size : 10px;
}
@media only screen and (max-width: 1560px){
    html {
        font-size: 18px !important; 
    }
}
@media only screen and (max-width: 1420px){
    html {
        font-size: 16px !important; 
    }
}
@media only screen and (max-width: 1260px){
    html {
        font-size: 14px !important; 
    }
}
@media only screen and (max-width: 1100px){
    html {
        font-size: 12px !important; 
    }
}
@media only screen and (min-width: 1560px){
    html {
        font-size: 20px !important; 
    }
}
body { font-family: 微软雅黑;background-color: #040a19;}
input[type="button"], input[type="submit"], input[type="reset"] {
    -webkit-appearance: none;
}
input::-ms-clear{display:none;}
input, section, div, select, ul {outline: none; font-family: 微软雅黑;}
textarea { -webkit-appearance: none; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;} 
table{border-collapse:collapse;border-spacing: 0;} 
fieldset,img{border:0;} 
address,caption,cite,code,dfn,em,strong,th,var{font-style: normal;font-weight: normal;} 
ol,ul{list-style:none;} 
caption,th{text-align: left;} 
h1,h2,h3,h4,h5,h6{font-size: 100%;font-weight: normal} 
q:before,q:after{content:'';} 
abbr,acronym{border:0;}
i{font-style: normal;}
a { text-decoration: none; -webkit-tap-highlight-color: rgba(0,0,0,0); color: inherit;}
input,ul,i {-webkit-tap-highlight-color: rgba(0,0,0,0);}
.bdbox, .i-border-box, .i-border-box * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.f12{font-size: 12px;}
.f14{font-size: 14px;}
.box{display:-moz-box; display:-webkit-box; display:box;display: -ms-flexbox;}
.box .flex1{-moz-box-flex:1; -webkit-box-flex:1; box-flex:1;display: block;-ms-flex:1;}
.box .flex2{-moz-box-flex:2; -webkit-box-flex:2; box-flex:2;display: block;-ms-flex:2;}
.hide{display: none;}
.hide-im{display: none !important;}
.nowrap{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.page {
    position: absolute;
    width: 100%;
    height: 100%;
}
.page.in {
    transform: translateX(0);
}
.page.out {
    transform: translateX(-100%);
}
.i-mask {
    content: '';
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom: 0;
    background: rgba(25,25,25,.6);
    z-index: 1009;
}

.amap-zoom-labels {
    display: block !important;
}
.amap-menu-outer {
    border: 0;
    border-radius: 2px;
    overflow: hidden;
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ff284460',endColorStr='#ff0e232f',gradientType='0'); 
    background: -webkit-linear-gradient(#284460, #0e232f);
    background: -o-linear-gradient(#284460, #0e232f);
    background: -moz-linear-gradient(#284460, #0e232f);
    background: -ms-linear-gradient(#284460, #0e232f);
    background: linear-gradient(#284460, #0e232f);
}
ul.amap-menu-outer li {
    padding: 0;
}
ul.amap-menu-outer li:hover {
    background-color: transparent;
}
ul.amap-menu-outer li:after {
    content: '';
    left: 5px;
    right: 5px;
    height: 0;
    position: absolute;
    border-top: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid rgba(0,0,0,.2);
}
ul.amap-menu-outer li:last-child:after {
    border:none;
}
ul.amap-menu-outer li .i-menu-item{
    font-size: 14px;
    color: #fff;
    margin: 0;
    letter-spacing: 2px;
    padding: 0 5px;
}

.amap-info-content {
    padding: 0;
    border:0;
    border-radius: 3px;
}
.amap-info-content header {
    padding-right: 19px;
}
.amap-info-close {
    top: 12px;
    right: 10px;
    color: #fff !important;
}
.amap-info-content footer {
    text-align: right;
    padding: 0 10px 10px;
}
.i-info-btn {
    padding: 0px 5px;
    font-size: 12px;
    line-height: 30px;
    color: #fff;
    background-color: #26425d;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 2px;
    text-align: center;
}
.i-info-content {
    color: #666;
    line-height: 26px;
    padding: 5px 10px;
    letter-spacing: 1px;
}
.i-info-rbar {
    position: absolute;
    right: 10px;
    top: 46px;
}
.amap-info-content footer .i-info-btn {
    margin-left: 10px;
}
.i-info-rbar .i-info-btn {
    display: block;
    margin-top: 10px;
}
.i-info-rbar .i-info-btn:first-child {
    margin-top: 0;
}

.i-header {
    position: absolute;
    width: 100%;
    height: 75px;
    z-index: 1;
}
.i-window {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 4px;
    z-index: 1010;
    overflow: hidden;
}
.i-panel {
    font-size: 12px;
    background-color: #fff;
}
.i-panel-header {
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ff0e232f',endColorStr='#ff284460',gradientType='0'); 
    background: -webkit-linear-gradient(#0e232f, #284460); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#0e232f, #284460); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#0e232f, #284460); /* Firefox 3.6 - 15 */
    background: -ms-linear-gradient(#0e232f, #284460);
    background: linear-gradient(#0e232f, #284460); /* 标准的语法 */
    line-height: 36px;
    font-size: 12px;
    color: #fff;
    text-indent: 5px;
}
.i-panel-tools {
    float: right;
}
.i-panel-header-tool.i-icon {
    display: inline-block;
    cursor: pointer;
    margin-right: 7px;
}
.i-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: 16px 0;
    vertical-align: middle;
    margin-right: 4px;
    margin-top: -2px;
    background-image: url(images/icon_small.png);
}
.i-icon-satellite {
    background-position: 0 0;
}
.i-icon-satellite:hover,
.i-icon-satellite.active {
    background-position: -21px 0;
}
.i-icon-fullscreen {
    background-position: -42px 0;
}
.i-icon-fullscreen:hover,
.i-icon-fullscreen.active {
    background-position: -63px 0;
}
.i-icon-position {
    background-position: -84px 0;
}
.i-icon-position-active,
/*.i-icon-position:hover,*/
.i-icon-position.active {
    background-position: -105px 0;
}
.i-icon-heart {
    background-position: -126px 0;
}
.i-icon-heart2 {
    background-image: url(../../images/icon_gzcl.png);
    background-position: 0 0;
    background-size: contain;
}
/*.i-icon-heart:hover,*/
.i-icon-heart.active,
/*.i-icon-white-heart:hover,*/
.i-icon-white-heart.active {
    background-position: -147px 0;
}
.i-icon-white-heart {
    background-position: -168px 0;
}
.i-icon-search {
    background-position: -189px 0;
}
.i-icon-add {
    background-position: -210px 0;
}
.i-icon-broom {
    background-position: -231px 0;
}
.i-icon-delete {
    background-position: -252px 0;
}
.i-icon-delete:hover,
.i-icon-delete.active {
    background-position: -273px 0;
}
.i-icon-carinfo {
    background-position: -294px 0;
}
.i-icon-setting {
    background-position: -315px 0;
}
.i-icon-forbid {
    background-position: -336px 0;
}
.i-icon-computer {
    background-image: url(../../images/icon_clxq.png);
    background-position: 0 0;
    background-size: contain;
}
.i-icon-white-computer {
    background-position: -357px 0;
}
.i-icon-gray-computer {
    background-position: -378px 0;
}
.i-icon-clear {
    background-position: -399px 0;
}
.i-icon-close {
    background-position: -420px 0;
}
.i-icon-floor {
    background-position: -441px 0;
}
.i-icon-floor:hover,
.i-icon-floor.active {
    background-position: -462px 0;
}
.i-icon-white-floor {
    background-position: -483px 0;
}
.i-icon-arrow {
    background-position: -504px 0;
}
.i-icon-refresh {
    background-position: -525px 0;
}
.i-icon-refresh:hover,
.i-icon-refresh.active {
    background-position: -546px 0;
}
.i-icon-white-refresh {
    background-position: -567px 0;
}
.i-icon-gray2-computer {
    background-image: url(images/icon_gray2_computer.png);
    background-position: 0 0;
}
.i-icon-unposition{
    background-image: url(images/icon_positions.png);
    background-position: 0 0;
}
.i-icon-positioned{
    background-image: url(images/icon_positions.png);
    background-position: -21px 0;
}
.i-icon-unpositioned{
    background-image: url(images/icon_positions.png);
    background-position: -42px 0;
}
.i-icon-loading{
    background-image: url(images/icon_positions.png);
    background-position: -63px 0;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-name: rotateZ_0_R360;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1000ms;
    animation-name: rotateZ_0_R360;
    animation-iteration-count: infinite;
}
@-webkit-keyframes rotateZ_0_R360 {
    from { -webkit-transform: rotateZ(0deg);}
    to { -webkit-transform: rotateZ(-360deg);}
}
@keyframes rotateZ_0_R360 {
    from { transform: rotateZ(0deg);}
    to { transform: rotateZ(-360deg);}
}
.i-btn {
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ff2b4e6e',endColorStr='#ff0e232f',gradientType='1'); 
    background: -webkit-linear-gradient(21deg, #2b4e6e, #0e232f); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(21deg, #2b4e6e, #0e232f); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(21deg, #2b4e6e, #0e232f); /* Firefox 3.6 - 15 */
    background: -ms-linear-gradient(21deg, #2b4e6e, #0e232f); 
    background: linear-gradient(69deg, #2b4e6e, #0e232f); /* 标准的语法 */
    line-height: 36px;
    height: 36px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    border: 0;
    padding: 0 10px;
    min-width: 58px;
    cursor: pointer;
    letter-spacing: 2px;
}
.i-shadow {
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,.4);
}
.i-input {
    border: 1px solid #e3e3e3;
    color: #333;
    height: 30px;
    padding-left: 5px;
}
.i-normal-btn {
    border: none;
    line-height: 30px;
    background-color: #26425d;
    color: #fff;
    border-radius: 2px;
    padding: 0 15px;
    margin: 0 5px;
    cursor: pointer;
    letter-spacing: 2px;
    min-width: 60px;
}
.i-submit {
}
.i-cancel {
    background-color: #9b9b9b;
}
/*i-combobox*/
.i-combobox {
    display: inline-block !important;
    position: relative !important;
    height: 30px;
    width: 150px;
    padding-right: 20px;
    border: 1px solid #e3e3e3;
    color: #333;
}
.i-combobox-input {
    border: none;
    background: #fff;
    padding-left: 5px;
    width: 100%;
    height: 100%;
}
.i-combobox-input:read-only {
    cursor: pointer;
}
.i-combobox-toggle {
    width: 0;
    height: 0;
    position: absolute;
    border: 4px solid transparent;
    border-top-color: #ccc;
    margin-right: 5px;
    margin-top: -2px;
    top: 50%;
    right: 0;
    cursor: pointer;
}
.i-combobox-dropdown {
    position: absolute;
    left: 0;
    right: 0;
    line-height: 30px;
    display: none;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    margin-top: 2px;
    z-index: 1;
}
.i-combobox-dropdown li {
    margin: 0;
    cursor: pointer;
    padding-left: 5px;
}
.i-combobox-dropdown li.selected,
.i-combobox-dropdown li:hover {
    background-color: #e7e7e7;
}
/*i-search*/
.i-search {
    position: absolute;
    z-index: 1000;
    width: 383px;
    color: #000;
}
.i-search p {
    margin: 0 !important;
}
.i-search-simple {
    display: inline-block;
    width: -moz-calc(100% - 83px);
    width: -webkit-calc(100% - 83px);
    width: calc(100% - 83px);
    position: relative;
    padding-right: 85px;
    padding-left: 5px;
    background-color: #fff;
}
.i-search-text-label{
    position: absolute;
    left: 0;
    font-size: 12px;
    line-height: 36px;
    padding-left: 5px;
}
.i-search-text {
    width: 100%;
    height: 36px;
    line-height: 36px;
    border: 0;
    vertical-align: bottom;
}
.i-search-clear {
    position: absolute;
    width: 15px;
    height: 15px;
    margin-top: 10px;
    right: 65px;
    color: #fff;
    border-radius: 50%;
    line-height: 14px;
    background-color: #c6c6c6;
    text-align: center;
    cursor: pointer;
    /*visibility: hidden;*/
}
.i-search-query {
    position: absolute;
    right: 0;
}
/*.i-search-text:focus + .i-search-clear {
    visibility: visible;
}*/
.i-search-advanced {
    margin-left: 7px;
    vertical-align: top;
    width: 76px;
}
.i-search-shadow {
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,.35);
}
.i-search-panel {
    width: -moz-calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
    margin-top: 5px;
}
.i-search.i-search-standard .i-search-simple,
.i-search.i-search-standard .i-search-panel{
    width: 100%;
}
.i-search.i-search-standard .i-search-advanced{
    display: none;
}
.i-search-simple-select li {
    cursor: pointer;
    line-height: 30px;
    border-bottom: 1px dashed #dedede;
}
.i-search-simple-select li:last-child {
    border-bottom: 0;
}
.i-search-simple-select li.selected,
.i-search-simple-select li:hover {
    background-color: #eee;
}
.i-search-simple-select li label {
    display: inline-block;
    width: 80px;
    text-align: right;
    margin: 0;
    font-weight: normal;
    color: #666;
}
.i-search-advanced-filter.filter-unremove .i-remove-filter {
    display:none;
}
.i-search-advanced-filter li{
    margin: 5px 0;
}
.i-search-advanced-filter .i-input,
.i-search-advanced-filter .i-combobox {
    width: -moz-calc(100% - 148px);
    width: -webkit-calc(100% - 148px);
    width: calc(100% - 148px);
    margin-left: 5px;
}
.i-remove-filter {
    width: 16px;
    display: inline-block;
    line-height: 30px;
    cursor: pointer;
    margin-left: 10px;
    overflow: hidden;
    vertical-align: top;
}
.i-add-filter,
.i-clear-filter {
    margin: 5px;
    cursor: pointer;
    color: #666;
    display: inline-block;
}
.i-add-filter:hover,
.i-clear-filter:hover {
    color: #000;
}
.i-search-panel footer {
    text-align: right;
    padding: 10px;
}
/* mapbar */
.mapbar {
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 38px;
    background-color: #fff;
    font-size: 12px;
    border-radius: 1px;
}
.mapbar-item {
    display: inline-block;
    margin: 0 10px;
}
.mapbar-item:before {
    content: '';
    position: absolute;
    width: 0px;
    height: 16px;
    border-left: 1px solid #e2e2e2;
    margin-top: 12px;
    margin-left: -10px;
}
.mapbar-item:first-child:before {
    border-left: 0;
}
.mapbar-exitfullscreen {
    display: none;
}
.mapbar-item a {
    display: inline-block;
    cursor: pointer;
    color: #646f7d;
}
.mapbar-item .i-icon {
    background-image: url(./images/16x_icon_cstb.png);
}
.mapbar-item .i-icon.i-icon-floor {
    background-position: 0 0;
}
.mapbar-item .i-icon.i-icon-satellite {
    background-position: -42px 0;
}
.mapbar-item .i-icon.i-icon-fullscreen {
    background-position: -84px 0;
}
.mapbar-item a:hover,
.mapbar-item a.active {
    color: #1b90eb;
}
.mapbar-item a.active .i-icon-floor,
.mapbar-item a:hover .i-icon-floor {
    background-position: -21px 0;    
}
.mapbar-item a.active .i-icon-satellite,
.mapbar-item a:hover .i-icon-satellite {
    background-position: -62px 0;
}
.mapbar-item a.active .i-icon-fullscreen,
.mapbar-item a:hover .i-icon-fullscreen {
    background-position: -105px 0;
}

.i-item-selector {
    height: 300px;
    background-color: #efefef;
    color: #3e568b;
    padding: 0 10px;
    width: 100%;
}
.i-item-title {
    font-weight: bold;
    margin: 5px 0;
    font-size: 13px;
    letter-spacing: 1px;
}
.i-item-list {
    max-height: 255px;
    border: 1px solid #a2adb8;
    border-radius: 1px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
}
.i-item-list li {
    line-height: 20px;
}
.i-item-checkbox {
    vertical-align: middle;
    letter-spacing: 1px;
}
.i-selector-toolbar {
    width: 40px;
    background-color: #e4f1f9;
    margin: 10px 20px;
}
.i-item-selector-btn {
    width: 100%;
    border: 1px solid #a0acb7;
    border-radius: 2px;
    margin: 5px 0;
    line-height: 25px;
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ffffffff',endColorStr='#ffced4d9',gradientType='1'); 
    background: -webkit-linear-gradient(#fff, #ced4d9); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#fff, #ced4d9); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#fff, #ced4d9); /* Firefox 3.6 - 15 */
    background: -ms-linear-gradient(#fff, #ced4d9);
    background: linear-gradient(#fff, #ced4d9); /* 标准的语法 */
}
.i-item-selector-btn:first-child {
    margin-top: 50px;
}

.i-msg-content {
    line-height: 90px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    color: #666;
}
.i-msg-footer {
    text-align: right;
    padding: 10px;
}
/*拖拽*/
.i-drag {
    cursor: move;
}