html, body {
    height: 100%;
    width: 100%;
}
body {
    background-image: url(./images/image_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #f7f9fb;
}
.hidden {
    visibility: hidden;
}
.header-logo {
    margin: 18px 20px;
}
.desktop-header {
    box-shadow: none;
}
.header-toolbar {
    float: right;
}
/*皮肤*/
.i-theme {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
.i-theme-icon {
    display: inline-block;
    width: 23px;
    height: 18px;
    cursor: pointer;
}
.i-theme-dark {
    background: url(../../images/theme-1.png) no-repeat center;
    background-size: contain;
}
.i-theme-default {
    background: url(../../images/theme-2-active.png) no-repeat center;
    background-size: contain;
}
.i-theme-radio {
    visibility: hidden;
}

.side-left,
.center,
.side-right {
    display: inline-block;
    width: 30%;
    float: left;
    margin-top: 65px;
    text-align: center;
}
.side-right {
    margin-top: 50px;
}
.center {
    width: 40%;
}
.desktop-jump {
    position: absolute;
    right: 20px;
    top: 50%;
    width: 50px;
    height: 50px;
    color: transparent;
    cursor: pointer;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' x='50%25' y='50%25'%3E%3Cdefs%3E%3ClinearGradient y2='1' x2='1' id='a'%3E%3Cstop stop-color='%231a1842' offset='0'/%3E%3Cstop stop-color='%23063154' offset='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg stroke='url(%23a)' stroke-width='.8' transform='translate(10 10)' fill='none'%3E%3Ccircle r='9'/%3E%3Cpath d='M-2-4l4 4-4 4'/%3E%3C/g%3E%3C/svg%3E") no-repeat center;
    background-size: 100%;
}
/*车辆统计*/
.i-card-carnum {
    margin-top: 3.5rem;
    font-size: 0.6rem;
    line-height: 1.5;
}
.i-card-carnum .i-card-title {
    color: #f6fbfc;
}
.i-card {
    position: relative;
    display: inline-block;
    width: 33.333333%
}
.i-card:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2.4rem;
    border-left: 1px solid #231f28;
    right: 0;
    top: 0.8rem;
}
.i-card:last-child:after {
    display: none;
}
.i-card-num {
    font-family: Roboto;
    font-weight: bold;
    font-size: 1.6rem;
    background: linear-gradient(to bottom, #00d2ff, #259be4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #00d2ff;
}
.i-card-color1 .i-card-num {
    background: linear-gradient(to bottom, #00d2ff, #259be4);
    -webkit-background-clip: text;
    color: #00d2ff;
}
.i-card-color2 .i-card-num {
    background: linear-gradient(to bottom, #31bdf8, #5697fc);
    -webkit-background-clip: text;
    color: #31bdf8;
}
.i-card-color3 .i-card-num {
    background: linear-gradient(to bottom, #23e0a6, #14c2c9);
    -webkit-background-clip: text;
    color: #23e0a6;
}
/*地图*/
.map3d-title {
    text-align: left;
    font-size: 0.8rem;
}
.chart-desktopmap-wrapper{
    margin-top: 5px;
    max-width: 755px;
    font-size: 0.6rem;
}
.i-card-mileage {
    font-size: 0.6rem;
    line-height: 1.5;
}
/*活跃率、车型*/
.online-chart,
.cartype-chart {
    height: 8rem;
}
.i-card-card2 {
    clear: both;
    margin-top: 10px;
}
.i-card-online {
    margin-top: 2rem;
    overflow: hidden;
}
.i-card-cartype {
    margin-top: 1rem;
}
.i-card-circle-wrapper {
    display: inline-block;
    position: relative;
    width: 5rem;
    height: 5rem;
    margin-top: 1.5rem;
    background: url(./images/image_round.png) no-repeat center;
    background-size: contain;
    font-size: 12px;
    color: #51a3e2;
    line-height: 4.5rem;
}
.i-card-circle-wrapper.i-card-circle-up:after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 0.8rem;
    background: url(./images/icon_clzx_ss.png) no-repeat center;
    background-size: contain;
}
.i-card-online .i-car-circle-content {
    height: 100%;
    background: url(./images/icon_clzx_hy.png) no-repeat center;
    background-size: 60%;
}
.i-card-cartype .i-car-circle-content {
    height: 100%;
    background: url(./images/icon_clzx_cx.png) no-repeat center;
    background-size: 60%;
}
.i-card-circle-wrapper .i-card-num {
    background: linear-gradient(to bottom, #7dddd9, #51a3e2);
    -webkit-background-clip: text;
    color: #51a3e2;
    font-size: 2.5rem;
}
.i-card-cartype .i-card-circle-wrapper {
    line-height: 5rem;
}
.i-card-title {
    text-align: center;
    color: #1894e3;
    font-size: 0.7rem;
}
.i-card-title.text-underline {
    background: url(./images/text_underline.png) no-repeat center bottom;
    padding-bottom: 8px;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}
.i-card-child-title {
    text-align: center;
    color: #fff;
    font-size: 0.6rem;
}
.i-card-num-wrapper {
    width: 40%;
    float: left;
}
.i-card-chart-wrapper {
    width: 60%;
    float: left;
}
/*里程*/
.i-card-mileage {
    margin-top: 2rem;
}
.i-card-mileage .i-card:after {
    top: 3rem;
    height: 3rem;
    border-color: #104f5f;
}
.i-card-mileage .i-card {
    background: url(./images/icon_ljrdq.png) no-repeat center top;
    padding-top: 4rem;
    background-size: 5rem;
}
.i-card-mileage .i-card-color1 {
    background-image: url(./images/icon_ljrdq.png);
}
.i-card-mileage .i-card-color2 {
    background-image: url(./images/icon_zhjp.png);
}
.i-card-mileage .i-card-color3 {
    background-image: url(./images/icon_xdyzz.png);
}
.mileage-num {
    font-family: QrLedNum;
    font-size: 2.3rem;
    color: #fff;
    vertical-align: middle;
}
.mileage-num i {
    border: 1px solid #041d31;
    margin-left: -1px;
    padding: 0 5px;
}
/*云服务网*/
.cloud-chart-group {
    height: 7rem;
}
.cloud-chart{
    display: inline-block;
    width: 33.33333%;
    height: 100%;
}
/*热力图*/
.hot-chart {
    height: 9rem;
}
/*在线省份统计*/
.province-chart {
    font-size: 0.6rem;
    line-height: 1;
}
.process-row {
    margin-top: 0.3rem;
}
.process-row-name {
    display: inline-block;
    width: 60px;
    text-align: right;
}
.process-row-value {
    display: inline-block;
    width: 100px;
    text-align: left;
}
.process-wrapper {
    display: inline-block;
    height: 6px;
    width: 10rem;
    margin-left: 10px;
    margin-right: 5px;
    border-radius: 3px;
    position: relative;
    background-color: rgba(255,255,255,0.2);
}
.process {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    border-radius: 3px;
    background: -webkit-linear-gradient(to right,#0c84cd, #17adde);
    background: -o-linear-gradient(to right,#0c84cd, #17adde);
    background: -moz-linear-gradient(to right,#0c84cd, #17adde);
    background: -ms-linear-gradient(to right,#0c84cd, #17adde);
    background: linear-gradient(to right,#0c84cd, #17adde);
}
.province-chart .hightlight-text {
    color: #1894e3;
}
/*头部*/
.header {
    border-bottom: 2px solid #0f518a;
}
.header-statistics {
    position: absolute;
    width: 360px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 12px;
    color: #d1d2d4;
    text-align: center;
}
.header-statistics-group {
    height: 100%;
}
.header-statistics-item {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
}
.header-statistics-item::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 35px;
    top: 22px;
    right: 1px;
    background-color: #333a42;
}
.header-statistics-item:last-child::after {
    width: 0;
}
.statistics-num {
    font-size: 26px;
    margin-top: 10px;
    font-weight: bold;
    background: linear-gradient(to bottom, #00d2ff, #249de5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #00d2ff;
}
.header-statistics-item:first-child {
    background-image: url(../../images/icon_ny_zcl.png);
}
.header-statistics-item:nth-child(2) {
    background-image: url(../../images/icon_ny_zxcl.png);
}
.header-statistics-item:last-child {
    background-image: url(../../images/icon_ny_jrhy.png);
}
.header-statistics-item:nth-child(2) .statistics-num{
    background: linear-gradient(to bottom, #31bdf8, #5598fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #31bdf8;
}
.header-statistics-item:last-child .statistics-num{
    background: linear-gradient(to bottom, #23e0a6, #14c3c8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #23e0a6;
}
.header-toolbar {
    position:absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    color: #cfd0d0;
    text-align: center;
}
.header-toolbar-item {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 73px;
    line-height: 30px;
    cursor: pointer;
}
.header-toolbar-item:first-child:after {
    content: '';
    position: absolute;
    width: 0;
    height: 40px;
    top: 15px;
    right: 0;
    border-left: 1px solid #0f1721;
}
.map-tool-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-position: 24px 0;
    vertical-align: middle;
    background-image: url(../../images/map_tool.png);
}
.map-tool-icon-fault {
    position: relative;
    background-position: 0 0;
}
.fault-light {
    position: absolute;
    top: 24px;
    left: 40px;
    width: 0;
    height: 0;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0px 0px #f00;
    box-shadow: 0 0 0px 0px #f00;
    -webkit-animation-duration:1s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    animation-duration:1s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
.header-toolbar-item.active .fault-light{
    -webkit-animation-name: warn-flash;
    animation-name: warn-flash;
}
@-webkit-keyframes warn-flash {
    from {
        -webkit-box-shadow: 0 0 0px 0px #f00;
    }
    to {
        -webkit-box-shadow: 0 0 40px 26px #f00; 
    }
}
@keyframes warn-flash{
    from {
        box-shadow: 0 0 0px 0px #f00; 
    }
    to {
        box-shadow: 0 0 40px 26px #f00;  
    }
}
.map-tool-icon-sound {
    position: absolute;
    width: 12px;
    height: 12px;
    background-image: url(../../images/map_tool.png);
    background-repeat: no-repeat;
    background-position: -116px 0;
    top: 5px;
    right: 10px;
}
.map-tool-icon-sound.active {
    background-position: -116px -15px;
}
.map-tool-icon-heart {
    background-position: -29px 0;
}
.map-tool-num {
    position: absolute;
    border-radius: 50%;
    background-color: #f00;
    color: #fff;
    min-width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    margin-top: 8px;
    margin-left: -7px;
    padding: 0 3px;
    display: none;
}
.map-tool-icon-home {
    background-position: -133px 0;
}
.map-tool-icon-computer {
    background-position: -58px 0;
}
/*地图监控*/
.map-wrapper {
    position: absolute;
    top: 75px;
    bottom: 0;
    width: 100%;
}
#map {
    width: 100%;
    height: 100%;
}
.search-result-collapsed {
    position: absolute;
    z-index: 1000;
    top: 240px;
    left: 0;
    background: linear-gradient(69deg, #2b4e6e, #0e232f);
    word-break: break-all;
    word-wrap: break-word;
    border-radius: 0px 5px 5px 0px;
    font-size: 12px;
    cursor: pointer;
    padding: 10px 3px 10px 5px;
    color: #fff;
    writing-mode: tb-lr;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    letter-spacing: 2px;
}
.search-result-collapsed .i-icon {
    vertical-align: bottom;
}
.search-result-panel {
    position: absolute;
    z-index: 1000;
    top: 60px;
    bottom: 50px;
    left: 15px;
    width: 343px;
}
.search-result .search-result-collapsed,
.search-result.active .search-result-panel {
    display:block;
}
.search-result.active .search-result-collapsed,
.search-result .search-result-panel{
    display: none;
}
.search-result-toggletree {
    margin-top: 5px;
    margin-right: 5px;
    border: 1px solid #1f3950;
    float: right; 
}
.search-result-tree {
    height: -moz-calc(100% - 36px);
    height: -webkit-calc(100% - 36px);
    height: calc(100% - 36px);
    overflow-x: hidden;
}
.search-result-btn {
    background: rgba(255,255,255,.18);
    line-height: 26px;
    font-size: 10px;
    color: #fff;
    text-align: center;
    min-width: 60px;
    cursor: pointer;
    float: left;
}
.search-result-btn.active {
    background: #102b3b;
}

.display-item-text {
    width: 173px;
    overflow-x: hidden;
}
.i-tree .tree-vin,
.i-tree.show-plate .tree-plate {
    display: inline-block;
}
.i-tree .tree-plate,
.i-tree.show-plate .tree-vin {
    display: none;
}
.l-tree .i-icon{
    margin-top: -15px;
}
.i-icon-car-state {
    display: inline-block;
    width: 21px;
    height: 12px;
    background-repeat: no-repeat;
    background-image: url(../../images/icon_car.png);
    vertical-align: super;
    margin: 0px 2px;
    background-position: -52px;
}
.i-icon-car-state-online {
    background-position: 0;
}
.l-tree .l-selected {
    background: #fff8d4; 
}
.l-tree .l-selected span{
    background: #fff8d4; 
    border:0px;
    padding:0px;
    height: 20px;
    line-height: inherit;
}
/*城市列表*/
.i-cities-content {
    height: 449px;
    overflow-y: auto;
    line-height: 30px;
    padding-left: 26px;
}
.i-cities-privince {
    min-height: 50px;
    color: #005497;
    margin-top: 8px;
    font-size: 13px;
}
.i-cities-privince-item {
    margin-right: 15px;
    cursor: pointer;
    display: inline-block;
}
.i-cities-privince-item:hover {
    color: #007fe3;
    text-decoration: underline;
}
.i-cities-firstword {
    height: 30px;
    margin-bottom: 8px;
}
.i-cities-firstword-item {
    padding: 1px 6px 1px 6px;
    margin-right: 6px;
    background: #f5f5f5;
    color: #a8a8a8;
    cursor: pointer;
}
.i-cities-separateline {
    border-top: #e0e0e0 1px dashed;
    height: 0px;
    margin-left: -13px;
    margin-right: 13px;
}
.i-cities-group-list {
    margin: 10px 0px;
}
.i-cities-group {
    overflow: hidden;
}
.i-cities-group-province {
    width: 4em;
    float: left;
    font-weight: bolder;
    color: #333;
}
.i-cities-group-cities {
    margin-left: 4em;
}
.i-cities-group-cities-item {
    margin-right: 20px;
    color: #666;
    display: inline-block;
    cursor: pointer;
}
/*图标帮助*/
.map-helper{
    position: absolute;
    right: 16px;
    bottom: 16px;
    width: 170px;
    height: 170px;
    background-color: rgba(3,12,33,0.6);
    border-radius: 5px;
    overflow: hidden;
    display: none;
}
.map-helper-text{
    position: absolute;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-right-color: rgba(3,12,33,0.6);
    border-bottom-color: rgba(3,12,33,0.6);
    right: 0;
    bottom: 0;
    cursor: help;
}
.map-helper-text:after{
    content: '?';
    color: #fff;
    position: absolute;
    top: -2px;
    left: 4px;
    font-size: 12px;
}
.map-helper-text:hover+.map-helper{
    display: block;
}
.map-helper-text:hover+.map-helper+.marker-helper{
    display: none;
}
.clusterer-helper{
    display: inline-block;
    width: 150px;
    font-size: 12px;
    line-height: 30px;
    margin: 10px 0 10px 10px;
}
.clusterer-item:before{
    content: '';
    display: inline-block;
    width: 12px;
    height: 8px;
    border-radius: 3px;
    margin-right: 10px;
}
.clusterer-1:before{
    background-color: #edb607;
    box-shadow: 0 0 3px 0 #edb607;
}
.clusterer-2:before{
    background-color: #09d0c4;
    box-shadow: 0 0 3px 0 #09d0c4;
}
.clusterer-3:before{
    background-color: #cb6afe;
    box-shadow: 0 0 3px 0 #cb6afe;
}
.clusterer-4:before{
    background-color: #05df63;
    box-shadow: 0 0 3px 0 #05df63;
}
.clusterer-5:before{
    background-color: #06a7ea;
    box-shadow: 0 0 3px 0 #06a7ea;
}
.marker-helper {
    position: absolute;
    right: 16px;
    bottom: 16px;
    width: 117px;
    line-height: 40px;
    background-color: rgba(3,12,33,0.6);
    border-radius: 5px;
    font-size: 12px;
}
.marker-item {
    float: left;
    margin-left: 10px;
}
.marker-item:before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 10px;
}
.marker-1:before {
    background-color: #0ea976;
}
.marker-2:before {
    background-color: #838383;
}
/*单车监控*/
.car-monitor {
    background-color: #050910;
    color: #fff;
    z-index: 1011;
}
.car-monitor .i-panel-header{
    color: #fff;
    background: initial;
    border-bottom: 1px solid #137fd3;
}
.car-monitor .i-panel-header-text{
    display: inline-block;
    text-indent: 0;
    margin-left: 10px;
    padding: 0 3px;
    line-height: 42px;
    font-size: 14px;
}
.car-monitor .i-icon-search {
    background-image: url(./images/icon_clxq.png);
    background-position: 0 0;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.car-monitor .i-icon-close {
    background-image: url(./images/bnt_clxq_close.png);
    background-position: 0 0;
    margin-top: 0;
}
.car-monitor .i-icon-close:hover {
    background-image: url(./images/bnt_clxq_close_1.png);
}
.car-monitor-nav {
    position: absolute;
    width: 107px;
    top: 43px;
    bottom: 0;
    color: #a9b1bb;
    font-size: 13px;
    overflow: hidden;
    background-color: #0a0f19;
}
.car-monitor-nav ul{
    width: 132px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.car-monitor-nav-item {
    width: 87px;
    height: 90px;
    margin: 10px;
    border: 1px solid #0d2238;
    border-radius: 3px;
    cursor: pointer;
}
.car-monitor-nav-item:hover,
.car-monitor-nav-item.active {
    color: #1a8ae2;
    border-color: transparent;
    background: url(./images/bnt_clxq_bg.png) no-repeat center;
}
.car-monitor-nav-item-icon {
    width: 34px;
    height: 34px;
    margin: 16px auto 10px;
    background-image: url(./images/34x_icon_clxq_tb.png);
    background-position-y: 0;
}
.car-monitor-real { background-position-x: 0; }
.car-monitor-bms { background-position-x: -39px; }
.car-monitor-checking { background-position-x: -78px; }
.car-monitor-operative { background-position-x: -117px; }
.car-monitor-files { background-position-x: -156px; }
.car-monitor-history { background-position-x: -195px; }
.car-monitor-nav-item:hover .car-monitor-nav-item-icon,
.car-monitor-nav-item.active .car-monitor-nav-item-icon{
    background-position-y: -39px;
}
.car-monitor-nav-item:hover .car-monitor-nav-item-icon.car-monitor-real,
.car-monitor-nav-item.active .car-monitor-nav-item-icon.car-monitor-real{
    background-position-y: -40px;
}

.car-monitor-nav-item-text {
    text-align: center;
}
.car-monitor-content {
    width: 100%;
    height: 100%;
    padding-left: 112px;
    padding-bottom: 42px;
}
.car-monitor-iframe {
    width: 100%;
    height: 100%;
    border: none;
}
/*图钉样式*/
.i-marker-icon {
    position: absolute;
}
/*关注车辆*/
.i-attention-btn {
    display: inline-block;
    margin: 10px 0 0 10px;
    width: 96px;
    line-height: 30px;
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ff284460',endColorStr='#ff0e232f',gradientType='0'); 
    background: -webkit-linear-gradient(#284460, #0e232f);
    background: -o-linear-gradient(#284460, #0e232f);
    background: -moz-linear-gradient(#284460, #0e232f);
    background: -ms-linear-gradient(#284460, #0e232f);
    background: linear-gradient(#284460, #0e232f);
    border-radius: 2px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    letter-spacing: 2px;
}
.i-attention-grid {
    margin: 10px;
    max-height: 390px;
    overflow: auto;
    color: #000;
}
.i-attention-grid table {
    width: 100%;
    border: 1px solid #e3e3e3;
    text-align: center;
    line-height: 38px;
    table-layout: fixed;
}
.i-attention-grid thead {
    line-height: 36px;
    background-color: #1d374c;
    color: #fff;
}
.i-attention-grid td {
    border: 1px solid #e3e3e3;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 5px;
}
.i-attention-grid thead td {
    border: 0;
}
.i-attention-grid tbody .i-icon {
    cursor: pointer;
}
/*小窗口*/
.car-infowindow {
    background: #252525 url(./images/image_clxx_bg.png) no-repeat center;
}
.car-infowindow .i-panel-header {
    background: transparent;
}
.car-infowindow-title {
    border: 1px solid rgba(82,81,81,0.48);
    text-align: center;
    line-height: 3;
    width: 70%;
    margin: 20px auto;
    color: #e0e0e0;
}
.car-infowindow-title p {
    width: 33.333333%;
    display: inline-block;
}
.car-infowindow-chart-wrapper {
    position: relative;
    background: url(./images/ybp_bg.png) no-repeat center;
    background-size: contain;
}
.car-infowindow-chart-title {
    text-align: center;
    line-height: 52px;
}
.car-infowindow-chart-title p {
    display: inline-block;
    width: 33.333333%;
}
.car-temperature {
    text-align: right;
    text-indent: 290px;
    font-size: 14px;
    color: #ccc;
}
.car-gear {
    font-size: 20px;
}
.car-time {
    text-align: left;
    text-indent: -50px;
    font-size: 14px;
}
.car-infowindow-chart1,
.car-infowindow-chart2 {
    position: absolute;
    width: 300px;
    top: 20px
}
.car-infowindow-chart1 {
    background: url(./images/line_car.png) no-repeat 240px 45px;
}
.car-infowindow-chart2 {
    right: 0;
}
.small-caps {
    font-variant: all-small-caps;
    font-size: 12px;
}
.lamp-wrapper {
    position: absolute;
    left: 210px;
    right: 210px;
    top: 25px;
}
.left-lamp,
.right-lamp {
    position: absolute;
    width: 27px;
    height: 27px;
    background: url(../../images/icon_left.png) no-repeat center;
}
.right-lamp {
    right: 0;
    background-image: url(../../images/icon_right.png);
}
.left-lamp.active {
    background-image: url(../../images/icon_left_active.png);
}
.right-lamp.active {
    background-image: url(../../images/icon_right_active.png);
}
.car-infowindow-center {
    margin: 40px 300px 0;
    border-top: 1px solid #2c2d2e;
}
.car-infowindow-center li {
    border-bottom: 1px solid #2c2d2e;
    line-height: 30px;
    padding: 0 20px;
}
.car-infowindow-center .c-value {
    float: right;
}
.car-infowindow-charging {
    margin: 0px 300px 0;
    text-align: center;
    display: none;
}
.car-infowindow-charging .car-chargetype {
    font-size: 20px;
}
.car-infowindow-charging .c-value-wrapper {
    line-height: 30px;
}
.car-infowindow-charging .c-value-wrapper .c-value {
    color: #1eee5e;
    margin: 0 10px;
    font-size: 20px
}
.car-infowindow-charging .car-img {
    height: 88px;
    background: url(./images/image_car_cd.png) no-repeat center;
}
.car-infowindow-charging .car-battery {
    text-align: left;
    width: 147px;
    height: 35px;
    margin: 0 auto;
    background: url(./images/image_dc_bg.png) no-repeat center;
}
.car-infowindow-charging .car-battery .car-process{
    display: inline-block;
    width: 139px;
    height: 35px;
    margin-left: 3px;
    background: url(./images/image_cd_pp.png) repeat-x left;
    animation-timing-function: linear;
    animation-duration: 3000ms;
    animation-name: width_0_100;
    animation-iteration-count: infinite;
}
@keyframes width_0_100 {
    from { width: 0px;}
    to { width: 139px;}
}
.car-infowindow-footer {
    margin: 40px 250px 0;
}
.car-infowindow-footer .c-value {
    margin: 0 5px;
    font-size: 16px;
}
.car-infowindow-footer .endurance {
    float: right;
}
.car-infowindow.charging .car-infowindow-chart1 {
    background: url(./images/line_car_1.png) no-repeat 240px 45px;
}
.car-infowindow.charging .car-infowindow-center {
    display: none;
}
.car-infowindow.charging .car-infowindow-charging {
    display: block;
}
.car-infowindow.charging .car-infowindow-footer {
    margin-top: 23px;
}

/*实时数据*/
.car-monitor-container {
    height: 100%;
    background-color: #090910;
    color: #c3cbd6;
    overflow-y: auto;
}
.car-monitor-container::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #020708;
}
.car-monitor-container::-webkit-scrollbar
{
    width: 12px;
    background-color: #020708;
}
.car-monitor-container::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #0e252e;
}
.car-real-top {
    background: url(images/bg_car_real_speed.png) no-repeat 3% 92%;
    background-size: auto;
    overflow: hidden;
    height: 240px;
}
.car-real-speed {
    float: left;
    margin-top: 25px;
    margin-left: 45px;
}
.car-real-speed-chart {
    width: 250px;
    height: 250px;
}
.car-real-battery {
    float: left;
    margin-left: 55px;
    margin-top: 80px;
    width: 39px;
    height: 103px;
    background: url(images/icon_dcdl.png) no-repeat;
    background-size: auto;
    position: relative;
}
.car-real-battery-soc {
    margin-top: -27px;
    margin-left: 8px;
    font-size: 12px;
    color: #45d852;
}
.car-real-battery-soc span {
    font-size: 20px;
}
.car-real-battery-progress {
    display: inline-block;
    background-color: #45d852;
    width: 35px;
    height: 0px;
    border-radius: 0 0 4px 4px;
    margin-left: 2px;
    position: absolute;
    bottom: 2px;
}
.car-real-battery-txt {
    float: left;
    margin-top: 192px;
    margin-left: -70px;
    color: #c3cbd6;
}
.car-real-area {
    overflow: hidden;
    margin-top: 40px;
}
.car-real-area-ul {
    overflow: hidden;
    margin-left: 35px;
}
.car-real-area-ul li {
    display: inline-block;
    width: 50%;
    margin-bottom: 13px;
    white-space: nowrap;
    font-size: 13px;
}
.car-real-area-ul li .label-text {
    display: inline-block;
    width: 125px;
    text-align: right;
    vertical-align: middle;
    color: #c3cbd6;
}
.car-real-area-ul li .span-text {
    padding-left: 5px;
    vertical-align: bottom;
    color: #ffffff;
}
.car-real-can {
    background-color: #0a0f19;
    margin: 15px 15px;
    padding: 0px 15px;
}
.car-real-can-title, .car-real-can-title-sq {
    cursor: pointer;
    color: #1b90eb;
    border-bottom: 2px solid #1d2637;
    font-size: 15px;
    font-weight: bolder;
    height: 40px;
    background: url(images/icon_sl.png) no-repeat 99% center;
    background-size: auto;
}
.car-real-can-title-sq {
    border-bottom: none;
    background: url(images/icon_sq.png) no-repeat 99% center;
    background-size: auto;
}
.car-real-can-title span {
    display: inline-block;
    text-indent: 5px;
    line-height: 40px;
}
.car-real-can-ul {
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 5px;
}
.car-real-can-ul li {
    display: inline-block;
    width: 33.3%;
    margin-bottom: 13px;
    white-space: nowrap;
    font-size: 13px;
}
.car-real-can-ul li .label-text {
    display: inline-block;
    width: 195px;
    text-align: right;
    vertical-align: middle;
    color: #c3cbd6;
}
.car-real-can-ul li .span-text {
    padding-left: 5px;
    vertical-align: bottom;
    color: #ffffff;
}

/*BMS数据*/
.car-battery-top {
    margin: 20px;
    font-size: 12px;
    color: #c3cbd6;
}
.car-battery-soc {
    height: 20px;
    background: url(images/icon_soc.png) no-repeat;
    background-size: auto;
    position: relative;
    background-position: 35px 0px;
}
.car-battery-soc-progress {
    display: inline-block;
    height: 15px;
    width: 27px;
    background-color: #45d852;
    position: absolute;
    top: 1px;
    left: 36px;
    border-radius: 3px 0 0 3px;
}
.car-battery-soc-value {
    position: absolute;
    top: 0px;
    left: 85px;
    color: #45d852;
}
.car-battery-area {
    text-align: center;
}
.car-battery-area-title {
    font-size: 13px;
}
.car-battery-area-title-left {
    margin-left: 20px;
}
.car-battery-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    background: url(images/icon_zdy.png) no-repeat;
    background-size: auto;
    margin-right: 3px;
    position: relative;
    top: 3px;
}
.car-battery-icon-zdl {
    background: url(images/icon_zdl.png) no-repeat;
    background-size: auto;
}
.car-battery-icon-zgwd {
    background: url(images/icon_zgwd.png) no-repeat;
    background-size: auto;
}
.car-battery-icon-zgdy {
    background: url(images/icon_zgdy.png) no-repeat;
    background-size: auto;
}
.car-battery-can {
    background-color: #0a0f19;
    margin: 15px 15px;
    padding: 0px 15px;
}
.car-battery-can-title, .car-battery-can-title-sq {
    cursor: pointer;
    color: #1b90eb;
    border-bottom: 2px solid #1d2637;
    font-size: 15px;
    font-weight: bolder;
    height: 40px;
    /* background: url(images/icon_sl.png) no-repeat 99% center;
    background-size: auto; */
}
.car-battery-can-title-sq {
    border-bottom: none;
    background: url(images/icon_sq.png) no-repeat 99% center;
    background-size: auto;
}
.car-battery-can-title span {
    display: inline-block;
    text-indent: 5px;
    line-height: 40px;
}
.car-battery-chart-container {
    padding: 15px 0px;
}

/*车辆自检*/
.car-fault-top {
    margin: 20px;
    font-size: 12px;
    color: #c3cbd6;
}
.car-fault-top-title span {
    color: #1b90eb;
}
.car-fault-top-area {
    text-align: center;
}
.car-fault-top-area-title {
    margin-left: 20px;
}
.car-fault-top-area-icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 22px;
    background: url(images/icon_green.png) no-repeat;
    background-size: auto;
    margin-right: 3px;
    position: relative;
    top: 7px;
}
.car-fault-top-area-icon-red {
    background: url(images/icon_red.png) no-repeat;
    background-size: auto;
}
.car-fault-top-area-icon-yellow {
    background: url(images/icon_yellow.png) no-repeat;
    background-size: auto;
}
.car-fault-center {
    margin: 10px;
}
.car-fault-center-table {
    text-align: center;
    border-left: 1px solid #121927;
    border-bottom: 1px solid #121927;
    color: #c3cbd6;
    font-size: 13px;
}
.car-fault-center-table th {
    text-align: center;
    border-right: 1px solid #121927;
    border-top: 1px solid #121927;
    background: #0a0f19;
    width: 165px;
    height: 50px;
    padding: 0 7px;
}
.car-fault-center-table td {
    text-align: center;
    border-right: 1px solid #121927;
    border-top: 1px solid #121927;
    height: 50px;
    padding: 0 7px;
}
.car-fault-center-title {
    margin: 10px 0px;
    color: #686f7a;
}
.car-fault-center-title span {
    color: #ff0000;
}

/*运营概览*/
.car-mileage-top {
    margin: 20px;
    font-size: 12px;
    color: #c3cbd6;
}
.car-mileage-top-title {
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    color: #1b90eb;
    margin-top: 20px;
}
.car-mileage-top-container {
    text-align: right;
    margin-right: 15px;
}
.car-mileage-top-select {
    display: inline-block;
    cursor: pointer;
    padding: 0;
    margin: 0;
    height: 30px;
    line-height: 25px;
    border: 1px solid #121927;
    border-radius: 3px;
    background: url(images/icon_select.png) no-repeat right;
    background-size: auto;
    background-position: 55px 9px;
}
.select-mileage {
    cursor: pointer;
    width: 75px;
    color: #c3cbd6;
    vertical-align: middle;
    *vertical-align: baseline;
    padding: 5px 0px\0;
    background: transparent;
    border: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-left: 15px;
}
.select-mileage-option {
    background-color: #121927;
    padding: 0;
    margin: 0;
}
select::-ms-expand {
    display: none;
}
.car-mileage-chart {
    width: 100%;
    height: 440px;
}

/*车辆档案*/
.car-archives-can {
    background-color: #0a0f19;
    margin: 15px 15px;
    padding: 0px 15px;
}
.car-archives-can-title, .car-archives-can-title-sq {
    cursor: pointer;
    color: #1b90eb;
    border-bottom: 2px solid #1d2637;
    font-size: 15px;
    font-weight: bolder;
    height: 40px;
    background: url(images/icon_sl.png) no-repeat 99% center;
    background-size: auto;
}
.car-archives-can-title-sq {
    border-bottom: none;
    background: url(images/icon_sq.png) no-repeat 99% center;
    background-size: auto;
}
.car-archives-can-title span {
    display: inline-block;
    width: auto;
    text-indent: 30px;
    line-height: 40px;
    background: url(images/icon_jbxx.png) no-repeat 5px center;
    background-size: auto;
}
.car-archives-can-title-zdxx span {
    background: url(images/icon_zdxx.png) no-repeat 5px center;
    background-size: auto;
}
.car-archives-can-title-mes span {
    background: url(images/icon_daxx.png) no-repeat 5px center;
    background-size: auto;
}
.car-archives-can-title-dms span {
    background: url(images/icon_dms.png) no-repeat 5px center;
    background-size: auto;
}
.car-archives-can-ul {
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 5px;
}
.car-archives-can-ul li {
    display: inline-block;
    width: 50%;
    margin-bottom: 13px;
    white-space: nowrap;
    font-size: 13px;
}
.car-archives-can-ul li .label-text {
    display: inline-block;
    width: 130px;
    text-align: right;
    vertical-align: middle;
    color: #c3cbd6;
}
.car-archives-can-ul li .span-text {
    padding-left: 5px;
    vertical-align: bottom;
    color: #ffffff;
}

/*轨迹回放*/
.amap-copyright, .amap-logo {
    left: -9999px;
}
.map-container {
    width: 100%;
    height: 100%;
}
.control {
    position: absolute;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: rgb(10, 15, 25);
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}
.control-top-left {
    top: 50px;
    left: 120px;
    padding: 7px 10px;
    line-height: 30px;
}
.control-top-left-title {
    margin-right: 15px;
}
.control-top-left-search {
    float: left;
    margin-left: 224px;
    margin-top: -58px;
    cursor: pointer;
}
.control-top-left-search .span {
    display: inline-block;
    width: 60px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    background-color: #0e92f9;
    color: black;
    border-radius: 3px;
}
.control-bottom-left {
    bottom: 5px;
    left: 120px;
    width: 200px;
    height: 190px;
}
.control-bottom-right, .control-bottom-right-tcgj {
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    background: url(images/icon_jrgj.png) no-repeat;
    background-size: auto;
    width: 103px;
    height: 103px;
    font-size: 15px;
}
.control-bottom-right-tcgj {
    background: url(images/icon_tcgj.png) no-repeat;
    background-size: auto;
}
.control-bottom-right .play {
    margin-top: 30px;
    margin-left: 38px;
}
.control-bottom-right .span {
    margin-left: 24px;
}
.control-bottom-center {
    bottom: 10px;
    left: 380px;
    height: 36px;
    line-height: 33px;
    padding: 0px 5px;
}
.control-bottom-center-bf {
    display: inline-block;
    cursor: pointer;
    width: 10px;
    height: 15px;
    border: 0;
    vertical-align: middle;
    margin-left: 10px;
}
.ksbf {
    background: url(images/icon_ksbf.png) no-repeat center center !important;
    background-size: contain !important;
}
.ztbf {
    background: url(images/icon_ztbf.png) no-repeat center center !important;
    background-size: contain !important;
}
.control-bottom-center-select {
    display: inline-block;
    cursor: pointer;
    padding: 0;
    margin: 0;
    margin-left: 5px;
}
.select-speed {
    cursor: pointer;
    width: 65px;
    color: #FFF;
    vertical-align: middle;
    background: transparent;
    border: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0px 5px;
}
.select-speed-option {
    background-color: #121927;
    padding: 0;
    margin: 0;
}
select::-ms-expand {
    display: none;
}
.fd-slider-wrapper {
    margin-top: -26px;
    margin-left: 95px;
}
.win-mask {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
.loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    color: black;
    background: #fff url(images/icon_loading.gif) no-repeat 10px center;
    z-index: 11;
    line-height: 50px;
    height: 50px;
    text-indent: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.hide {
    display: none;
}
.map-info {
    color: #fff;
}
.map-info-top {
    background: url(images/icon_map_top.png) no-repeat;
    width: 220px;
    height: 25px;
}
.map-info-middle {
    background: url(images/icon_map_bg.png);
}
.map-info-ul {
    margin: 0px 20px;
    line-height: 20px;
}
.map-info-ul li {
    white-space: nowrap;
    font-size: 10px;
}
.map-info-ul li .label-text {
    display: inline-block;
    width: 60px;
    text-align: right;
    vertical-align: middle;
}
.map-info-ul li .span-text {
    vertical-align: bottom;
}
.map-info-bottom {
    background: url(images/icon_map_bottom.png) no-repeat;
    width: 220px;
    height: 55px;
}